<!DOCTYPE html>
<html>

<head>
  <title>Best of Five</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="inputPanel">
    <p class="menuHeading">&#53;&#65039;&#8419; Best of Five</p>
    <p class="fiveNameHeading">robspizza</p>
    <p>
      <input class="inputText" id="item1" value="margherita">
    </p>

    <p>
      <input class="inputText" id="item2" value="pepperoni">
    </p>

    <p>
      <input class="inputText" id="item3" value="chicken">
    </p>

    <p>
      <input class="inputText" id="item4" value="ham and pineapple">
    </p>

    <p>
      <input class="inputText" id="item5"  value="mushroom" >
    </p>

    <p>
      <button class="menuButton" onclick="doLive()">Start</button>
      <p class="bodyText">
        Enter your five items and press Start to go live.
      </p>
      </div>
  </p>
  <script>
    function doLive(){
      window.open("entry.html","_self");
    }
  
  </script>
  </body>

</html>