<!DOCTYPE html>
<html>

<head>
  <title>Best of Five</title>
  <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="inputPanel">
    <p class="menuHeading">&#53;&#65039;&#8419; Best of Five</p>
    <p>
      <input class="inputText" id="name">
    </p>

    <p>
    <div class="menuButton">
      <button onclick="doBuild();">Open</button>
    </div>
    </p>
    <p class="bodyText">
      Enter the name of your &quot;Best of Five&quot; and click Open to open it or to make a new one with that name.
    </p>
  </div>
  <script>
    function doBuild(){
      window.open("build.html","_self");
    }
  
  </script>
  </body>

</html>