h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20;
}


p {
  font-family: Arial, Helvetica, sans-serif;
}


.upButton,.downButton,.explodeButton {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  min-width: 3em;
  min-height: 3em;
}

.upButton{
  background: lightblue;
}
.downButton {
  background: lightpink;
}
.explodeButton {
  background: yellow;
}

