<!DOCTYPE html>
<html>

<head>
  <title>Tiny Survey Results</title>
</head>
</head>

<body>
    <h1>&#10068; Tiny Survey</h1>
    <h2>robspizza</h2>
    <p>margherita: 1</p>
    <p>pepperoni: 3</p>
    <p>chicken: 2 </p>
    <p>ham and pineapple: 0</p>
    <p>mushroom: 1</p>
    <p>
      <button>Reload</button>
    </p>
    <p>
      Click Reload to update the counts
    </p>
  </div>
</body>

</html>