<!DOCTYPE html>
<html>

<head>
  <title>Tiny Survey Enter Options</title>
</head>

<body>

  <h1>&#10068; Tiny Survey</h1>
  <h2>robspizza</h2>
  <p><input value="margherita"></p>
  <p><input value="pepperoni"></p>
  <p><input value="chicken"></p>
  <p><input value="ham and pineapple"></p>
  <p><input value="mushroom"></p>
  <p>
    <button onclick="doStartSurvey();">Start</button>
  </p>
  <p>
    Enter your options and press Start to go live.
  </p>

  <script>
    function doStartSurvey() {
      window.open("selectoption.html", "_self");
    }
  </script>
</body>

</html>