<!DOCTYPE html>
<html>

<head>
  <title>Best of Five</title>
</head>
<body>
  <div class="inputPanel">
    <p class="menuHeading">&#53;&#65039;&#8419; Best of Five</p>
    <p class="fiveNameHeading">robspizza</p>
  <p>
    <label class="inputLabel" for="item1">margherita</label>
    <span class="outputText" id="item1">1</span>
  </p>

  <p>
    <label class="inputLabel" for="item2">pepperoni</label>
    <span class="outputText" id="item2">3</span>
  </p>

  <p>
    <label class="inputLabel" for="item3">chicken</label>
    <span class="outputText" id="item3">2</span>
  </p>

  <p>
    <label class="inputLabel" for="item4">ham and pineapple</label>
    <span class="outputText" id="item4">0</span>
  </p>

  <p>
    <label class="inputLabel" for="item5">mushroom</label>
    <span class="outputText" id="item5">1</span>
  </p>

  <p>
    <div class="menuButton" >
    <button >Reload</button>
  </div>
  </p>
<p class="bodyText">
  Click Reload to update the counts
</p>
</div>
</body>

</html>